* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #3d4d2a;
    border-bottom: 1px solid #3d4d2a;
    padding: 1rem;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid #3d4d2a;
    text-align: center;
    color: #3d4d2a;
    font-size: 1rem;
    padding: 1rem;
}

img {
    padding-top: 2rem;
    display: block;
    margin: auto;
    animation: fade 10s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}