:root {
    --primary-color: #002c68;
    --secondary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

header,
main,
footer {
    max-width: 700px;
    text-align: center;
}

h2 {
    margin-top: 1rem;
}

header,
footer {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

header {
    border-bottom: 10px solid #f3bb2f;
    padding: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
}


table {
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

th {
    padding: 4px;
    text-align: right;
}

td {
    text-align: left;
}

.weather img {
    width: 5rem;
}

footer {
    border-bottom: 10px solid rgb(171, 5, 4);
    line-height: 1.5rem;
    padding: 1rem;
}

#currentYear {
    letter-spacing: .5px;
    font-weight: 400;
}

#lastModified {
    font-weight: 300;
}