* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

header,
footer,
main,
main div {
    max-width: 700px;
    margin: 1rem auto;
    padding: 1rem;
    /* border: 2px solid lightseagreen; */
}

header,
footer {
    color: whitesmoke;
    background-color: #253959;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

main h2 {
    font-size: 1.5rem;
    text-align: center;
}

main div {
    display: grid;
    /* grid-template-columns: auto; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    grid-gap: 1rem;
    /* border: 2px solid pink; */
    width: auto;
}

figure {
    /* border: 2px solid red; */
    text-align: center;
    font-size: 12px;
}

#menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: whitesmoke;
    font-size: 2rem;
    text-decoration: none;
    background-color: #253959;
    border: none;
}

.show li {
    display: flex;
    list-style: none;
    margin: auto;
    flex-direction: column;
    padding: .5rem;
    text-decoration: none;
}

li {
    display: none;
}

.navigation a {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
    /* border: 2px solid purple; */
}

.navigation a:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 20px;
}

#lastModified {
    font-size: 12px;
}